<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .error {
           color: red;
        }
    </style>
    <title>Save Book</title>
</head>

<body>

<div class="container">
    <h3>Book Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Book</p>
    <form action="#" th:action="@{/api/save}"
          th:object="${book}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{bookId}" />

        <input type="text" th:field="*{bookName}"
               class="form-control mb-4 col-4" placeholder="Book name">
        <ul>
            <li th:each="err : ${#fields.errors('bookName')}" th:text="${err}" class="error" />
        </ul>

        <input type="text" th:field="*{author}"
               class="form-control mb-4 col-4" placeholder="author">
        <ul>
            <li th:each="err : ${#fields.errors('author')}" th:text="${err}" class="error" />
        </ul>

        <input type="text" th:field="*{publisher}"
               class="form-control mb-4 col-4" placeholder="publisher">
        <ul>
            <li th:each="err : ${#fields.errors('publisher')}" th:text="${err}" class="error" />
        </ul>

        <input type="number" th:field="*{quantity}"
               class="form-control mb-4 col-4" placeholder="quantity">
        <ul>
            <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}" class="error" />
        </ul>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/api/books}">Back to Book List</a>

</div>
</body>

</html>